## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.rsuser

## Publish output
publish/
**/bin/Release/
**/bin/Debug/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
nuget.config

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

## Rider
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
desktop.ini
